
* {
    font-family: "Roboto", sans-serif;
}


body {
    transition: background-color 0.3s ease !important;
}
:root {
    --color_them: white;
    --color_them_invert: black;
    --botder_them:rgba(255, 255, 255, 0.2);
}

.vis {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
.vis.visible {
    opacity: 1;
    transform: translateY(0);
}


#Hello_text {
    color: var(--color_them_invert);
    font-size: 60px;
}

.Hello {
    position: absolute;
    left: 30%;
    transform: translate(-50%);
    top: 35%;
    width: 500px;
    z-index: 1;
}
.Hello p {
    position: relative;
    left: 0px;
    top: 10px;
    font-size: 20px;
    color: var(--color_them_invert);
    font-weight: normal; 
    z-index: 1;
}



@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
.Hello span {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    font-size: 60px;
    transition: all 0.3s ease;
    cursor: default;
}

.Hello span:hover {

    animation: shake 0.3s 3 ease;
}

.navbar-brand {
    font-weight:bold; 
}

a {
    text-decoration: none;
}

 


@media only screen and (max-width: 768px) {
    .project {
        flex-direction: column;
        width: inherit;
        margin: 50px 20px;
    }
    .darkmode {
        right: 80px;
    }
    .github_link  {
        right: 85px;
    }
    #Hello {
        font-size: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 200px;
        width: 300px;
    }
    #Hello::after {
        top: 130px;
    }

    .Hello {
        margin: 20px;
        position: relative;
        left: inherit;
        top: inherit;
        transform:inherit;
    }

    .Steck_icon_container {
        flex-wrap: wrap;
        width: 100%;
        top: 20px;
        left: 0px;
        margin-left: 0px;
    }

    .Git_dwas {
        left: 0px;
        top: 320px;
    }
    .logo-container {
        display: none;
    }


    #tit_pro1 {
        left: 50%;
        transform: translate(-50%);
        top: 5%;
    }

    #text_pro1 {
        left: 10px;
        top: 10%;
        max-width: 95%;
    }

    .Titleedw {
        top: 500px;   
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
    }


    .Abo_tet {
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
    .logo-containers {
        display: none;
    }
    .Abo_tit {
        position: absolute;
        top: -150px;
        left: 50%;
        font-weight: bold;
        transform: translate(-50%);
    }

    .About_me {
        width: 100%;
        left: 50%;
        transform: translate(-50%);
    }


    #proj_wd {
        width: 350px;
    }

    .block {
        width: 100%;
        z-index: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 1000px !important;
    }
    #proj_wd, #carus {
         width: inherit;
    }

}
